:root{
    --primary-color: #1f2937;
    --secondary-color: #e5e7eb;

    --heading-color: #f9faf8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}
.header{
    width: 100%;
    height: 80vh;
    background-color: var(--primary-color);
}
.header .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 250px;
}
.header .nav-bar h1{
    font-size: 24px;
    color: var(--heading-color);
    cursor: pointer;
    margin-right: 60px;
}
.header .nav-bar ul{
    flex: 1;
    text-align: right;
    list-style: none;
}
.header .nav-bar ul li a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 18px;
}
.header .nav-bar ul li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.header .nav-bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    display: block;
    background-color: var(--heading-color);
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s ease;
}
.header .nav-bar ul li:hover::after{
    width: 100%;
}


.header .hero-section{
    padding: 50px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .hero-section img{
    width: 730px;
    object-fit: contain;
}
.header .hero-section .text-area .hero-main-text{
    font-size: 48px;
    color: var(--heading-color);
    text-transform: capitalize;
    font-weight: 800;
}
.header .hero-section .text-area .hero-secondary-text{
    color: var(--secondary-color);
    margin-top: 10px;
    font-size: 18px;
}
.header .hero-section .text-area button{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 7px;
    background-color: #3882f6;
    color: var(--heading-color);
    border: none;
    cursor: pointer;
}
.header .hero-section .text-area button:active{
    background-color: #3d6fd8;
}

.content-section{
    width: 100vw;
}
.content-section .content-header{
    text-align: center;
    margin: 30px auto 15px;
    text-transform: capitalize;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 800;
}
.content-section .cards{
    display: flex;
    justify-content: center;
}
.content-section .cards .card{
    width: 250px;
    height: 250px;
    margin: 0 25px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}






















